body {
  background-color: black;
  text-align: center;
  color: white; 
}

#playbutton {
	background-color: transparent;
	border: 0;
	color: transparent;
	box-shadow: transparent;
  outline: 0;
}

#playbuttonimg {
	width: 100px;
}
