<!DOCTYPE html>
<html>
<head>
	
	<title></title>
</head>
<body>


<form id="dynForm" method="post">
<input id="token" name="token" type="text" value="Swag" />

<script>
    var hash = location.hash.substr(1);;
    var raw_token = hash.replace("access_token=", "");

    var auth_token = raw_token.replace("&token_type=Bearer&expires_in=3600", "");
    var test = "helo";
    document.getElementById("token").value = auth_token;
</script>
</form>
<script>
document.getElementById("dynForm").submit();
</script>

</body>
</html>
